<div class="card mb-4 shadow-sm">

<div class="card-body">
  <div>
    <img height="70" width="70"
         src="https://img.pngio.com/product-icon-png-76431-free-icons-library-product-png-256_256.jpg" alt="img">
  </div>
  <p class="card-text">
    <strong>{{productItem.price | currency: 'KZT'}}</strong>
  </p>
  <p class="card-text">{{productItem.description}}</p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button type="button"
              class="btn btn-sm btn-primary product-btn"
              (click)="handleAddToCart()">Add to Cart</button>
      <button type="button" class="btn btn-sm btn-secondary product-btn">View Details</button>
    </div>
  </div>
</div>
</div>
